In [1]:
import pandas as pd
import numpy as np

In [3]:
#Importing CSV files
csv1 = "Resources/202009-citibike-tripdata.csv"
csv2 = "Resources/JC-201909-citibike-tripdata.csv"
bike_trip_2020 = pd.read_csv(csv1)
bike_trip_2019 = pd.read_csv(csv2)

In [4]:
bike_2019_df = bike_trip_2019
bike_2019_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,145,2019-09-01 00:00:37.6920,2019-09-01 00:03:03.0100,3640,Journal Square,40.73367,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,Subscriber,1991,1
1,212,2019-09-01 00:03:00.6000,2019-09-01 00:06:33.3420,3194,McGinley Square,40.72534,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,Subscriber,1993,2

In [5]:
bike_2020_df = bike_trip_2020
bike_2020_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,4225,2020-09-01 00:00:01.0430,2020-09-01 01:10:26.6350,3508,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,116,W 17 St & 8 Ave,40.741776,-74.001497,44317,Customer,1979,1
1,1868,2020-09-01 00:00:04.8320,2020-09-01 00:31:13.7650,3621,27 Ave & 9 St,40.773983,-73.930913,3094,Graham Ave & Withers St,40.716981,-73.944859,37793,Customer,1991,1

In [6]:
#deleting columns
del bike_2019_df['usertype']
del bike_2020_df['usertype']

In [8]:
bike_2020_df.head(5)
bike_2019_df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,145,2019-09-01 00:00:37.6920,2019-09-01 00:03:03.0100,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,1991,1
1,212,2019-09-01 00:03:00.6000,2019-09-01 00:06:33.3420,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,1993,2
2,569,2019-09-01 00:07:13.0020,2019-09-01 00:16:42.8610,3214,Essex Light Rail,40.712774,-74.036486,3184,Paulus Hook,40.714145,-74.033552,29435,1977,1
3,1380,2019-09-01 00:07:25.3350,2019-09-01 00:30:26.1640,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29509,1965,1
4,1346,2019-09-01 00:07:56.4670,2019-09-01 00:30:22.5440,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29226,1968,2

In [9]:
#checking types
bike_2020_df.dtypes
bike_2019_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
birth year                   int64
gender                       int64
dtype: object

In [10]:
#changing type of values for gender column
bike_2020_df['gender'] = bike_2020_df['gender'].astype(str)
bike_2019_df['gender'] = bike_2019_df['gender'].astype(str)

In [12]:
#changing values under gender column to male, female or unknown
gender_check_2020 = bike_2020_df['gender']
changed_2020_male = gender_check_2020.replace('1', 'Male')
changed_2020_female = changed_2020_male.replace('2', 'Female')
changed_2020_unknown = changed_2020_female.replace('0', 'Unknown')
bike_2020_df['gender'] = changed_2020_unknown
bike_2020_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,4225,2020-09-01 00:00:01.0430,2020-09-01 01:10:26.6350,3508,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,116,W 17 St & 8 Ave,40.741776,-74.001497,44317,1979,Male
1,1868,2020-09-01 00:00:04.8320,2020-09-01 00:31:13.7650,3621,27 Ave & 9 St,40.773983,-73.930913,3094,Graham Ave & Withers St,40.716981,-73.944859,37793,1991,Male
2,1097,2020-09-01 00:00:06.8990,2020-09-01 00:18:24.2260,3492,E 118 St & Park Ave,40.800539,-73.941995,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,41438,1984,Male
3,1473,2020-09-01 00:00:07.7440,2020-09-01 00:24:41.1800,3946,St Nicholas Ave & W 137 St,40.818477,-73.947568,4002,W 144 St & Adam Clayton Powell Blvd,40.820877,-73.939249,35860,1990,Female
4,1193,2020-09-01 00:00:12.2020,2020-09-01 00:20:05.5470,3081,Graham Ave & Grand St,40.711863,-73.944024,3048,Putnam Ave & Nostrand Ave,40.684020,-73.949770,26396,1969,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2488220,1818,2020-09-30 23:59:48.8460,2020-10-01 00:30:07.7810,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,3836,Bushwick Ave & Linden St,40.691460,-73.921460,36220,1993,Male
2488221,1553,2020-09-30 23:59:53.7240,2020-10-01 00:25:47.1760,390,Duffield St & Willoughby St,40.692216,-73.984284,3799,6 Ave & W 34 St,40.749640,-73.988050,31092,1995,Male
2488222,626,2020-09-30 23:59:54.6670,2020-10-01 00:10:21.6050,3901,Stanhope St & Fairview Ave,40.709980,-73.911160,3083,Bushwick Ave & Powers St,40.712477,-73.941000,47224,1954,Female
2488223,325,2020-09-30 23:59:56.2120,2020-10-01 00:05:21.3060,3148,E 84 St & 1 Ave,40.775655,-73.950686,3338,2 Ave & E 99 St,40.786259,-73.945526,16759,1995,Female
2488224,128,2020-09-30 23:59:57.8350,2020-10-01 00:02:06.0920,439,E 4 St & 2 Ave,40.726281,-73.989780,312,Allen St & Stanton St,40.722055,-73.989111,47718,1996,Female

In [13]:
#changing values under gender column to male, female or unknown
gender_check_2019 = bike_2019_df['gender']
changed_2019_male = gender_check_2019.replace('1', 'Male')
changed_2019_female = changed_2019_male.replace('2', 'Female')
changed_2019_unknown = changed_2019_female.replace('0', 'Unknown')
bike_2019_df['gender'] = changed_2019_unknown
bike_2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,145,2019-09-01 00:00:37.6920,2019-09-01 00:03:03.0100,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,1991,Male
1,212,2019-09-01 00:03:00.6000,2019-09-01 00:06:33.3420,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,1993,Female
2,569,2019-09-01 00:07:13.0020,2019-09-01 00:16:42.8610,3214,Essex Light Rail,40.712774,-74.036486,3184,Paulus Hook,40.714145,-74.033552,29435,1977,Male
3,1380,2019-09-01 00:07:25.3350,2019-09-01 00:30:26.1640,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29509,1965,Male
4,1346,2019-09-01 00:07:56.4670,2019-09-01 00:30:22.5440,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29226,1968,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49239,621,2019-09-30 23:11:40.0630,2019-09-30 23:22:01.8370,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26245,1962,Male
49240,167,2019-09-30 23:19:02.9380,2019-09-30 23:21:50.8290,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,29525,1984,Male
49241,94,2019-09-30 23:26:24.7470,2019-09-30 23:27:59.2310,3213,Van Vorst Park,40.718489,-74.047727,3483,Montgomery St,40.719420,-74.050990,26317,1958,Male
49242,366,2019-09-30 23:49:00.4260,2019-09-30 23:55:06.9620,3638,Washington St,40.724294,-74.035483,3270,Jersey & 6th St,40.725289,-74.045572,29488,1976,Male
49243,150,2019-09-30 23:56:30.1980,2019-09-30 23:59:00.6750,3276,Marin Light Rail,40.714584,-74.042817,3213,Van Vorst Park,40.718489,-74.047727,29498,1982,Male

In [14]:
#calculating age for biker
current_year = 2021

birth_year_2020 = bike_2020_df['birth year']
age = current_year - birth_year_2020
bike_2020_df['age'] = age

birth_year_2019 = bike_2019_df['birth year']
age = current_year - birth_year_2019
bike_2019_df['age'] = age

In [15]:
#updating columns

bike_2020_df_organized = bike_2020_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_2019_df_organized = bike_2019_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_2020_df_organized.head(5)
bike_2019_df_organized.head(5)

,bikeid,gender,birth year,age,tripduration,start station id,start station name,start station latitude,start station longitude,starttime,end station id,end station name,end station latitude,end station longitude,stoptime
0,29303,Male,1991,30,145,3640,Journal Square,40.733670,-74.062500,2019-09-01 00:00:37.6920,3206,Hilltop,40.731169,-74.057574,2019-09-01 00:03:03.0100
1,29297,Female,1993,28,212,3194,McGinley Square,40.725340,-74.067622,2019-09-01 00:03:00.6000,3679,Bergen Ave,40.722104,-74.071455,2019-09-01 00:06:33.3420
2,29435,Male,1977,44,569,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:13.0020,3184,Paulus Hook,40.714145,-74.033552,2019-09-01 00:16:42.8610
3,29509,Male,1965,56,1380,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:25.3350,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,2019-09-01 00:30:26.1640
4,29226,Female,1968,53,1346,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:56.4670,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,2019-09-01 00:30:22.5440

In [20]:
# Renaming the Columns

bike_2020_renamed_df = bike_2020_df_organized.rename(columns={"bikeid": "Bike ID",
"gender": "Gender",
"birth year":"Birth Year",
"age": "Age",
"tripduration": "Trip Duration",
"start station id": "Start Station ID",
"start station name": "Start Station Name",
"start station latitude": "Start Station Latitude",
"start station longitude": "Start Station Longitude",
"starttime": "Start Time",
"end station id": "End Station ID",
"end station latitude": "End Station Latitude",
"end station longitude": "End Station Longitude",
"stoptime": "Stop Time"
})


bike_2019_renamed_df = bike_2019_df_organized.rename(columns={"bikeid": "Bike ID",
"gender": "Gender",
"birth year":"Birth Year",
"age": "Age",
"tripduration": "Trip Duration",
"start station id": "Start Station ID",
"start station name": "Start Station Name",
"start station latitude": "Start Station Latitude",
"start station longitude": "Start Station Longitude",
"starttime": "Start Time",
"end station id": "End Station ID",
"end station latitude": "End Station Latitude",
"end station longitude": "End Station Longitude",
"stoptime": "Stop Time"
})

bike_2020_renamed_df
bike_2019_renamed_df

,Bike ID,Gender,Birth Year,Age,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,Start Time,End Station ID,end station name,End Station Latitude,End Station Longitude,Stop Time
0,29303,Male,1991,30,145,3640,Journal Square,40.733670,-74.062500,2019-09-01 00:00:37.6920,3206,Hilltop,40.731169,-74.057574,2019-09-01 00:03:03.0100
1,29297,Female,1993,28,212,3194,McGinley Square,40.725340,-74.067622,2019-09-01 00:03:00.6000,3679,Bergen Ave,40.722104,-74.071455,2019-09-01 00:06:33.3420
2,29435,Male,1977,44,569,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:13.0020,3184,Paulus Hook,40.714145,-74.033552,2019-09-01 00:16:42.8610
3,29509,Male,1965,56,1380,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:25.3350,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,2019-09-01 00:30:26.1640
4,29226,Female,1968,53,1346,3214,Essex Light Rail,40.712774,-74.036486,2019-09-01 00:07:56.4670,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,2019-09-01 00:30:22.5440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49239,26245,Male,1962,59,621,3194,McGinley Square,40.725340,-74.067622,2019-09-30 23:11:40.0630,3191,Union St,40.718211,-74.083639,2019-09-30 23:22:01.8370
49240,29525,Male,1984,37,167,3211,Newark Ave,40.721525,-74.046305,2019-09-30 23:19:02.9380,3209,Brunswick St,40.724176,-74.050656,2019-09-30 23:21:50.8290
49241,26317,Male,1958,63,94,3213,Van Vorst Park,40.718489,-74.047727,2019-09-30 23:26:24.7470,3483,Montgomery St,40.719420,-74.050990,2019-09-30 23:27:59.2310
49242,29488,Male,1976,45,366,3638,Washington St,40.724294,-74.035483,2019-09-30 23:49:00.4260,3270,Jersey & 6th St,40.725289,-74.045572,2019-09-30 23:55:06.9620
49243,29498,Male,1982,39,150,3276,Marin Light Rail,40.714584,-74.042817,2019-09-30 23:56:30.1980,3213,Van Vorst Park,40.718489,-74.047727,2019-09-30 23:59:00.6750

In [ ]:
# Save both files to csv in Resources folder
bike_2020_renamed_df.to_csv("Resources/2020_citibike_tripdata_cleaned.csv", index=False, header=True)
bike_2019_renamed_df.to_csv("Resources/2019_citibike_tripdata_cleaned.csv", index=False, header=True)